.page-column {
  max-width: 600px;
  margin: 30px auto;
}

h1 {
  color: #26a69a;
  text-align: center;
}

.btn-box {
  text-align: center;
}

#connection-status-icon {
  position: absolute;
  top: 5px;
  right: 15px;
}
